body{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: rgb(56, 0, 0);
    padding-top: 30px;
    cursor: pointer;
}

.jumbotron{
    padding-top: 30px;
    width: 75%;
    height: 90vh;
    color: rgb(14, 13, 13);
    border-color: black;
    background-color: rgb(224, 127, 102);


}

/* roho effect....................... */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.waviy {
  position: relative;
  font-size: 65px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  animation: waviy 1.5s infinite;
  animation-delay: calc(.2s * var(--i));

}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

/* button................ */
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.btn {
  width: 200px;
  height: 80px;
  cursor: zoom-in;
  border: 1px solid #050505;
  outline: none;
  transition: 1s ease-in-out;
}
.center {
    width: 180px;
    height: 60px;
    position: fixed;
  }

.btn:hover {
  transition: 1s ease-in-out;
  background: #b93b2b54;
}
.btn span {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 100;
}

/* navigation bar.............................////////////////// */
.nav{
  background-size:100% 100%;
  width: 100vw;
  justify-items: left;

}
.nav a{
  text-decoration: none;
  text-align: center;
  color:white;
  font-size: x-large;
  padding: 10px 10px;
}
.nav a:hover{
  background-color: rgb(231, 98, 98);
  color: rgb(244, 244, 245);
  border-radius: 5px;
}
